.wrapper {
  padding-top: 40px;
}

.title {
  margin-top: 80px;
}

.wysiwyg {
  margin-top: 60px;
}

.wysiwyg h3 {
  font-size: 28px;
  margin: 15px 0;
  font-family: var(--fontUppercase);
  color: var(--colorPrimary);
}

.wysiwyg p {
  font-size: 24px;
  color: var(--colorSecondary)
}

.wysiwyg ul {
  margin: 20px 0 20px 50px;
}

.wysiwyg li {
  font-size: 24px;
  color: var(--colorSecondary);
  list-style-type: disc;
}

.wysiwyg a {
  font-size: 24px;
  color: var(--colorPrimary);
}

@media (hover: hover) {
  .wysiwyg a:hover {
    color: var(--colorPrimary);
    text-decoration: underline;
  }
}

@media (max-width: 1679.98px) {
  .wrapper {
    padding-top: 35px;
  }
  
  .title {
    margin-top: 70px;
  }
  
  .wysiwyg {
    margin-top: 50px;
  }
  
  .wysiwyg h3 {
    font-size: 24px;
    margin: 12px 0;
  }
  
  .wysiwyg p {
    font-size: 20px;
  }
  
  .wysiwyg ul {
    margin: 18px 0 18px 40px;
  }
  
  .wysiwyg li {
    font-size: 20px;
  }
  
  .wysiwyg a {
    font-size: 20px;
  }
}

@media (max-width: 1439.98px) {
  .wrapper {
    padding-top: 30px;
  }
  
  .title {
    margin-top: 60px;
  }
  
  .wysiwyg {
    margin-top: 40px;
  }
  
  .wysiwyg h3 {
    font-size: 22px;
    margin: 12px 0;
  }
  
  .wysiwyg p {
    font-size: 18px;
  }
  
  .wysiwyg ul {
    margin: 16px 0 16px 36px;
  }
  
  .wysiwyg li {
    font-size: 18px;
  }
  
  .wysiwyg a {
    font-size: 18px;
  }
}

@media (max-width: 1365.98px) {
  .title {
    margin-top: 55px;
  }
  
  .wysiwyg {
    margin-top: 35px;
  }
  
  .wysiwyg h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .wysiwyg p {
    font-size: 16px;
  }
  
  .wysiwyg ul {
    margin: 14px 0 14px 32px;
  }
  
  .wysiwyg li {
    font-size: 16px;
  }
  
  .wysiwyg a {
    font-size: 16px;
  }
}