.slider {
  position: relative;
}

.headlineSection {
  position: absolute;
  top: 22%;
  left: 0%;
}

.headlineSectionText {
  font-size: 30px;
  color: var(--colorTextPrimary);
  width: 600px;
  margin-top: 150px;
}

.sliderContainer {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
}

.sliderContent {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sliderWrapper {
  position: relative;
}

.slides {
  position: relative;
  display: flex;
  width: max-content;
  min-width: 100vw;
}

.slide {
  position: relative;
}

.slideItem {
  position: relative;
  min-width: auto;
  height: var(--fullHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideItemSpaceLarge {
  width: 55vw;
}

.slideItemSpaceSmall {
  width: 10vw;
}

.serviceItem {
  position: relative;
  width: 560px;
  height: 420px;
  background-color: var(--colorCardBg);
  border-radius: var(--primaryBorderRadius);
  margin: 0 50px;
  padding: 40px 50px 40px 50px;
  display: flex;
  flex-direction: column;
}

.slider .slides > div:nth-child(6n + 2) .serviceItem {
  top: -15%;
}

.slider .slides > div:nth-child(6n + 3) .serviceItem {
  bottom: -15%;
}

.slider .slides > div:nth-child(6n + 4) .serviceItem {
  top: 0%;
}

.slider .slides > div:nth-child(6n + 5) .serviceItem {
  top: -15%;
}

.slider .slides > div:nth-child(6n + 6) .serviceItem {
  bottom: -15%;
}

.serviceItemNumber {
  font-size: 28px;
  color: var(--colorWhite);
}

.serviceItemTitle {
  font-size: 30px;
  color: var(--colorWhite);
  font-family: var(--fontUppercase);
  margin-top: 30px;
}

.serviceItemText {
  font-size: 18px;
  color: var(--colorTextPrimary);
  margin-top: 30px;
  opacity: 0.6;
}

.serviceItemIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: auto;
}
