.slider {
  position: relative;
}

.headlineSection {
  position: absolute;
  top: 22%;
  left: 0%;
  width: 100%;
}

.headlineInfoBox {
  width: 50%;
}

.titles {
  margin-bottom: 100px;
}

.sliderContainer {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
}

.sliderContent {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sliderWrapper {
  position: relative;
}

.slides {
  position: relative;
  display: flex;
  width: max-content;
  min-width: 100vw;
}

.slide {
  position: relative;
}

.slideItem {
  position: relative;
  min-width: auto;
  height: var(--fullHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideItemSpaceLarge {
  width: 55vw;
}

.slideItemSpaceSmall {
  width: 15vw;
}

.serviceItem {
  position: relative;
  width: 560px;
  height: 420px;
  background-color: var(--colorCardBg);
  border-radius: var(--primaryBorderRadius);
  margin: 0 50px;
  padding: 40px 50px 40px 50px;
  display: flex;
  flex-direction: column;
}

.slider .slides > div:nth-child(6n + 2) .serviceItem {
  top: -15%;
}

.slider .slides > div:nth-child(6n + 3) .serviceItem {
  bottom: -15%;
}

.slider .slides > div:nth-child(6n + 4) .serviceItem {
  top: 0%;
}

.slider .slides > div:nth-child(6n + 5) .serviceItem {
  top: -15%;
}

.slider .slides > div:nth-child(6n + 6) .serviceItem {
  bottom: -15%;
}

.serviceItemNumber {
  font-size: 32px;
  color: var(--colorPrimary);
}

.serviceItemTitle {
  font-size: 28px;
  color: var(--colorPrimary);
  font-family: var(--fontUppercase);
  margin-top: 30px;
}

.serviceItemText {
  font-size: 20px;
  color: var(--colorSecondary);
  margin-top: 22px;
}

.serviceItemIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: auto;
}

@media (max-width: 1679.98px) {
  .titles {
    margin-bottom: 80px;
  }
  
  .serviceItem {
    width: 500px;
    height: 380px;
    margin: 0 35px;
    padding: 30px 40px 30px 40px;
  }

  .slider .slides > div:nth-child(6n + 2) .serviceItem {
    top: -12%;
  }
  
  .slider .slides > div:nth-child(6n + 3) .serviceItem {
    bottom: -12%;
  }
  
  .slider .slides > div:nth-child(6n + 5) .serviceItem {
    top: -12%;
  }
  
  .slider .slides > div:nth-child(6n + 6) .serviceItem {
    bottom: -12%;
  }
  
  .serviceItemNumber {
    font-size: 28px;
  }
  
  .serviceItemTitle {
    font-size: 24px;
    margin-top: 26px;
  }
  
  .serviceItemText {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .serviceItemIcon {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 1439.98px) {
  .titles {
    margin-bottom: 60px;
  }

  .serviceItem {
    width: 460px;
    height: 340px;
    margin: 0 30px;
    padding: 25px 35px 25px 35px;
  }
  
  .serviceItemNumber {
    font-size: 26px;
  }
  
  .serviceItemTitle {
    font-size: 22px;
    margin-top: 24px;
  }
  
  .serviceItemText {
    margin-top: 18px;
  }
  
  .serviceItemIcon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1279.98px) {
  .titles {
    margin-bottom: 50px;
  }

  .serviceItem {
    width: 410px;
    height: 310px;
    margin: 0 25px;
    padding: 22px 32px 25px 32px;
  }

  .slider .slides > div:nth-child(6n + 2) .serviceItem {
    top: -14%;
  }
  
  .slider .slides > div:nth-child(6n + 3) .serviceItem {
    bottom: -14%;
  }
  
  .slider .slides > div:nth-child(6n + 5) .serviceItem {
    top: -14%;
  }
  
  .slider .slides > div:nth-child(6n + 6) .serviceItem {
    bottom: -14%;
  }
  
  .serviceItemNumber {
    font-size: 24px;
  }
  
  .serviceItemTitle {
    font-size: 20px;
    margin-top: 24px;
  }
  
  .serviceItemText {
    margin-top: 16px;
    font-size: 16px;
  }
  
  .serviceItemIcon {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 1023.98px) {
  .titles {
    margin-bottom: 45px;
  }

  .serviceItem {
    width: 360px;
    height: 280px;
    margin: 0 20px;
    padding: 20px 28px 22px 28px;
  }

  .slider .slides > div:nth-child(6n + 2) .serviceItem {
    top: -12%;
  }
  
  .slider .slides > div:nth-child(6n + 3) .serviceItem {
    bottom: -12%;
  }
  
  .slider .slides > div:nth-child(6n + 5) .serviceItem {
    top: -12%;
  }
  
  .slider .slides > div:nth-child(6n + 6) .serviceItem {
    bottom: -12%;
  }
  
  .serviceItemNumber {
    font-size: 20px;
  }
  
  .serviceItemTitle {
    font-size: 18px;
    margin-top: 20px;
  }
  
  .serviceItemText {
    margin-top: 14px;
    font-size: 14px;
  }
  
  .serviceItemIcon {
    width: 22px;
    height: 22px;
  }
}