.slider {
  position: relative;
}

.sliderContainer {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
}

.sliderContent {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sliderWrapper {
  position: relative;
}

.slides {
  position: relative;
  display: flex;
  width: max-content;
  min-width: 100vw;
}

.slide {
  position: relative;
}

.slideItem {
  position: relative;
  min-width: auto;
  height: 50vh;
  width: 1500px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideItemInner {
  width: 100px;
  height: 100px;
  background-color: green;
}