.projectsSection {
  position: relative;
  margin: 150px 0;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.items {
  position: relative;
}

.projectItem {
  position: relative;
  margin: 200px 0;
}

.projectItemRow {
  display: flex;
}

.items .projectItem:nth-child(2n + 2) .projectItemRow {
  flex-direction: row-reverse;
}

.projectItemCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 50%;
}

.projectItemInfo {
  position: relative;
  max-width: 600px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: left;
}

.items .projectItem:nth-child(2n + 1) .projectItemInfo {
  text-align: right;
}

.projectItemTitle {
  display: flex;
  flex-direction: column;
}

.items .projectItem:nth-child(2n + 1) .projectItemTitle {
  align-items: flex-end;
}

.projectItemDescription {
  font-size: 20px;
  color: var(--colorWhite);
  opacity: 0.7;
  margin-top: 30px;
}

.projectItemButton {
  margin-top: 80px;
}

.projectItemImgBox {
  border-radius: var(--primaryBorderRadius);
  overflow: hidden;
}
