.projectsSection {
  position: relative;
  margin: 70px 0 0 0;
  padding: 80px 0 40px 0;
  overflow: hidden;
}

.titleBox {
  display: flex;
  flex-direction: column;
}

.items {
  position: relative;
}

.projectItem {
  position: relative;
  margin: 200px 0;
}

.projectItemRow {
  display: flex;
}

.items .projectItem:nth-child(2n + 1) .projectItemRow {
  flex-direction: row-reverse;
}

.projectItemCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 50%;
}

.projectItemInfo {
  position: relative;
  max-width: 600px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: left;
}

.items .projectItem:nth-child(2n + 2) .projectItemInfo {
  text-align: right;
}

.projectItemTitle {
  display: flex;
  flex-direction: column;
}

.items .projectItem:nth-child(2n + 2) .projectItemTitle {
  align-items: flex-end;
}

.projectItemDescription {
  font-size: 20px;
  color: var(--colorSecondary);
  margin-top: 30px;
}

.projectItemButton {
  margin-top: 80px;
}

.projectItemImgBox {
  border-radius: var(--primaryBorderRadius);
  overflow: hidden;
}

@media (max-width: 1679.98px) {
  .projectsSection {
    margin: 50px 0 0 0;
    padding: 60px 0 30px 0;
  }

  .projectItem {
    margin: 180px 0;
  }
  
  .projectItemInfo {
    padding: 0 40px;
  }
  
  .projectItemDescription {
    font-size: 18px;
    margin-top: 26px;
  }
  
  .projectItemButton {
    margin-top: 60px;
  }
}