.titleBox {
  display: flex;
  position: relative;
}

.titleBox.textAlignLeft {
  justify-content: flex-start;
  text-align: left;
}

.titleBox.textAlignRight {
  justify-content: flex-end;
  text-align: right;
}

.title {
  overflow: hidden;
  width: min-content;
}

.titleBox.autoWidth .title {
  width: auto;
}

.title.first {
  position: absolute;
  opacity: 0.15;
}

.title.second {
  position: relative;
  opacity: 1;
}

.titleBox.rtl .title {
  display: flex;
  justify-content: flex-end;
}

.title span {
  display: block;
  font-size: 110px;
  color: var(--colorPrimary);
  font-family: var(--fontUppercase);
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
}

.fontLowercase .title span {
  text-transform: inherit;
  line-height: 1.25;
}

.titleBox.sizeLarge .title span {
  font-size: 110px;
}

.titleBox.sizeMedium .title span {
  font-size: 64px;
}

.title.second span {
  width: 100%;
}

.titleBox.rtl .title span {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1679.98px) {
  .title span {
    font-size: 86px;
  }
  
  .titleBox.sizeLarge .title span {
    font-size: 86px;
  }
  
  .titleBox.sizeMedium .title span {
    font-size: 50px;
  }
}