.technologies {
  position: relative;
  margin: 200px 0;
}

.wrapper {
  display: flex;
}

.img {
  width: 130px;
  height: 70px;
  position: relative;
  margin: 0 10px;
  background-color: var(--colorCardBg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--secondaryBorderRadius);
}

.img img {
  max-width: 26px !important;
  max-height: 26px !important;
  opacity: 0.6;
}