/* .fullWidth {
  width: 100%;
} */

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
  margin: 0;
  height: 50px;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
}

.label {
  position: relative;
  top: 1px;
  font-size: 14px;
  color: #fff;
}

.button.loading {
  pointer-events: none;
}

.button.loading * {
  opacity: 0 !important;
}

.button.loading .loaderBox {
  opacity: 1 !important;
}

.loaderBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(0deg);
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-color: var(--ds-color-button-contained-text);
  animation: buttonLoaderAnimation 0.5s linear infinite;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@keyframes buttonLoaderAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}