.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 50px;
  margin: 0;
  height: 70px;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 100px;
}

.label {
  position: relative;
  top: 1px;
  font-size: 18px;
  color: var(--colorPrimary);
  z-index: 1;
  mix-blend-mode: difference;
  pointer-events: none;
  transition:
    transform 0.3s,
    opacity 0.2s;
}

.button.loading .label {
  opacity: 0;
}

@media (hover: hover) {
  .button:hover .label {
    transform: scale(1.16);
  }
}

.borderLine {
  position: absolute;
  width: 100%;
  border: 1px solid var(--colorPrimary);
  background-color: transparent;
  padding-bottom: 0;
  height: 100%;
  border-radius: 100px;
  transition:
    padding-bottom 0.3s,
    border-radius 0.3s,
    background-color 0.3s,
    filter 0.3s;
}

@media (hover: hover) {
  .button:hover .borderLine {
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: var(--colorBrand);
    filter: blur(20px);
  }
}

.button.loading:before {
  display: block;
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  border: 1px solid var(--colorPrimary);
  border-radius: 50%;
  border-left: 0;
  border-top: 0;
  transition: border-color 0.3s;
  animation: buttonLoaderAnimation 0.5s linear infinite !important;
}

@keyframes buttonLoaderAnimation {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (hover: hover) {
  .button.loading:hover:before {
    border-color: var(--colorDark);
  }
}

@media (max-width: 1679.98px) {
  .button {
    padding: 0 40px;
    height: 64px;
  }
  
  .label {
    font-size: 16px;
  }

  .button.loading:before {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 1279.98px) {
  .button {
    padding: 0 35px;
    height: 58px;
  }

  .button.loading:before {
    width: 22px;
    height: 22px;
  }
}