.landing {
  height: var(--fullHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  perspective: 400px;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 90px;
  font-family: var(--fontUppercase);
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
  max-width: 512px;
  margin-top: 40px;
}
