.landing {
  position: relative;
  height: var(--fullHeight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  perspective: 400px;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 90px;
  font-family: var(--fontUppercase);
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
  max-width: 512px;
  margin-top: 40px;
}

.scrollDownBtnBox {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
}

.scrollDownBtn {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 50%;
}

.scrollDownBtn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.scrollDownBtn img {
  transition: transform 0.3s;
}

@media (hover: hover) {
  .scrollDownBtn:hover:before {
    transform: scale(1.6);
  }

  .scrollDownBtn:hover img {
    transform: scale(1.4);
  }
}