@import 'normalize.css';
@import 'grids.css';
@import 'variables.css';
@import 'cursor.css';
@import 'fonts.css';

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #fff;
  background-color: var(--colorBg);
  font-family: var(--fontLight);
  font-weight: 100 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  cursor: none !important;
}

body * {
  cursor: none !important;
}

.f-light,
.f-light * {
  font-family: var(--fontLight);
}

.f-regular,
.f-regular * {
  font-family: var(--fontRegular);
}

.f-medium,
.f-medium * {
  font-family: var(--fontMedium);
}

.f-bold,
.f-bold * {
  font-family: var(--fontBold);
}

.f-uppercase,
.f-uppercase * {
  font-family: var(--fontUppercase);
}
