@import 'normalize.css';
@import 'grids.css';
@import 'variables.css';
@import 'cursor.css';
@import 'fonts.css';

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--colorWhite);
  background-color: var(--colorBg);
  font-family: var(--fontMedium);
  font-weight: 100 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  cursor: none !important;
}

body * {
  cursor: none !important;
}

.f-regular,
.f-regular * {
  font-family: var(--fontRegular);
}

.f-medium,
.f-medium * {
  font-family: var(--fontMedium);
}

.f-semiBold,
.f-semiBold * {
  font-family: var(--fontSemiBold);
}

.f-bold,
.f-bold * {
  font-family: var(--fontBold);
}

.f-uppercase,
.f-uppercase * {
  font-family: var(--fontUppercase);
}

/*  */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.background-stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  pointer-events: none;
}

.background-stars .stars {
  background-image: url('../images/stars.png');
  background-size: 1000px;
  background-position: center center;
  opacity: 0.6;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.background-stars .twinkling {
  background: url('../images/twinkling.png') center top;
  animation: move-twink-back 200s linear infinite;
}
