:root {
  --fullHeight: calc(var(--vh, 1vh) * 100);
  
  --fontMedium: 'Syne-Medium';
  --fontUppercase: 'MonumentExtended-Regular';

  --colorBg: #121315;

  --colorPrimary: rgba(255, 255, 255, 1);
  --colorSecondary: rgba(255, 255, 255, 0.6);
  --colorDark: #1b1c1d;

  --colorBrand: #c5fcfc;
  --colorCardBg: #1b1c1d;

  --primaryBorderRadius: 24px;

  --colorLine: rgba(255, 255, 255, 0.2);
}
