.videoSection {
  position: relative;
  margin-bottom: 250px;
}

.videoBox {
  position: relative;
}

.videoBox video {
  display: flex;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

@media (max-width: 1679.98px) {
  .videoSection {
    margin-bottom: 200px;
  }
}