.animatedSubText {
  font-size: 30px;
  color: var(--colorSecondary);
  max-width: 600px;
}

.animatedSubText.large {
  font-size: 30px;
  max-width: 600px;
}

.animatedSubText.medium {
  font-size: 22px;
  max-width: 450px;
}

@media (max-width: 1679.98px) {
  .animatedSubText {
    font-size: 26px;
    max-width: 480px;
  }
  
  .animatedSubText.large {
    font-size: 24px;
    max-width: 480px;
  }
  
  .animatedSubText.medium {
    font-size: 18px;
    max-width: 380px;
  }
}