.animatedSubText {
  font-size: 30px;
  color: var(--colorSecondary);
  max-width: 600px;
}

.animatedSubText.large {
  font-size: 30px;
  max-width: 600px;
}

.animatedSubText.medium {
  font-size: 20px;
  max-width: 450px;
}
