.animatedSubText {
  font-size: 30px;
  color: var(--colorSecondary);
  max-width: 600px;
}

.animatedSubText.large {
  font-size: 30px;
  max-width: 600px;
}

.animatedSubText.medium {
  font-size: 22px;
  max-width: 450px;
}

@media (max-width: 1679.98px) {
  .animatedSubText {
    font-size: 24px;
    max-width: 480px;
  }
  
  .animatedSubText.large {
    font-size: 24px;
    max-width: 480px;
  }
  
  .animatedSubText.medium {
    font-size: 18px;
    max-width: 380px;
  }
}

@media (max-width: 1439.98px) {
  .animatedSubText {
    font-size: 22px;
    max-width: 460px;
  }
  
  .animatedSubText.large {
    font-size: 22px;
    max-width: 460px;
  }
  
  .animatedSubText.medium {
    font-size: 16px;
    max-width: 360px;
  }
}

@media (max-width: 1365.98px) {
  .animatedSubText {
    font-size: 20px;
    max-width: 450px;
  }
  
  .animatedSubText.large {
    font-size: 20px;
    max-width: 450px;
  }
}

@media (max-width: 1279.98px) {
  .animatedSubText {
    font-size: 18px;
    max-width: 420px;
  }
  
  .animatedSubText.large {
    font-size: 18px;
    max-width: 420px;
  }
}

@media (max-width: 1023.98px) {
  .animatedSubText {
    font-size: 16px;
    max-width: 340px;
  }
  
  .animatedSubText.large {
    font-size: 16px;
    max-width: 340px;
  }
  
  .animatedSubText.medium {
    font-size: 14px;
    max-width: 320px;
  }
}