.contactButton {
  display: inline;
  transition: opacity .1s .7s, visibility .1s .7s;
}

.contactButton.isContactPage {
  opacity: 0;
}

.button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.buttonInner {
  border: 1px solid var(--colorSecondary);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerLine {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid var(--colorSecondary);
  border-radius: 50%;
}

.logo {
  position: absolute;
  width: 36px;
}

.roundedBox {
  width: 140px;
  height: 140px;
  text-transform: uppercase;
  font-family: var(--fontMedium);
  animation: contactButtonRotateAnimation 6s linear infinite;
}

@keyframes contactButtonRotateAnimation {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.text {
  font-size: 21px;
  fill: var(--colorPrimary);
}

@media (max-width: 1679.98px) {
  .button {
    bottom: 30px;
    right: 30px;
  }
  
  .buttonInner {
    width: 140px;
    height: 140px;
  }
  
  .innerLine {
    width: 84px;
    height: 84px;
  }
  
  .logo {
    width: 32px;
  }
  
  .roundedBox {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1439.98px) {
  .button {
    bottom: 25px;
    right: 25px;
  }
  
  .buttonInner {
    width: 130px;
    height: 130px;
  }
  
  .innerLine {
    width: 80px;
    height: 80px;
  }
  
  .logo {
    width: 30px;
  }
  
  .roundedBox {
    width: 112px;
    height: 112px;
  }
}

@media (max-width: 1365.98px) {
  .button {
    bottom: 20px;
    right: 20px;
  }
  
  .buttonInner {
    width: 116px;
    height: 116px;
  }
  
  .innerLine {
    width: 70px;
    height: 70px;
  }
  
  .logo {
    width: 26px;
  }
  
  .roundedBox {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1279.98px) {
  .buttonInner {
    width: 100px;
    height: 100px;
  }
  
  .innerLine {
    width: 60px;
    height: 60px;
  }
  
  .logo {
    width: 22px;
  }
  
  .roundedBox {
    width: 86px;
    height: 86px;
  }
}

@media (max-width: 1023.98px) {
  .buttonInner {
    width: 84px;
    height: 84px;
  }
  
  .innerLine {
    width: 50px;
    height: 50px;
  }
  
  .logo {
    width: 18px;
  }
  
  .roundedBox {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 575.98px) {
  .buttonInner {
    width: 74px;
    height: 74px;
  }
  
  .innerLine {
    width: 44px;
    height: 44px;
  }
  
  .logo {
    width: 16px;
  }
  
  .roundedBox {
    width: 63px;
    height: 63px;
  }
}