.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: var(--colorDark);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logoWrapper {
  position: relative;
  width: 942px;
  min-width: 942px;
  transform: scale(0.4);
}

.logoOverlay {
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background-color: var(--colorDark);
  z-index: 1;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.image {
  position: relative;
  margin: 0 5px;
}

.image.logoSmall,
.image.logoT,
.image.logoH,
.image.logoY {
  height: 140px;
}

.image.logoE,
.image.logoC,
.image.logoZ {
  height: 112px;
}

.image.logoCopy{
  height: 36px;
  margin-left: -6px;
  top: 18px
}

.image.logoSmall {
  margin-right: 30px;
}

.image.logoT {
  margin-right: -20px;
}

.image.logoY {
  top: 28px;
}

.image img {
  display: block;
  height: 100%;
  width: auto;
  object-fit: contain;
  object-position: bottom center;
}

@media (max-width: 1679.98px) {
  .logoWrapper {
    transform: scale(0.34);
  }
}

@media (max-width: 1365.98px) {
  .logoWrapper {
    transform: scale(0.3);
  }
}

@media (max-width: 1024.98px) {
  .logoWrapper {
    transform: scale(0.24);
  }
}

@media (max-width: 575.98px) {
  .logoWrapper {
    transform: scale(0.18);
  }
}