.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  mix-blend-mode: difference;
  z-index: 1;
  pointer-events: none;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100px;
}

.logoWrapper {
  overflow: hidden;
  pointer-events: auto;
}

.logo {
  width: 170px;
}

@media (max-width: 1679.98px) {
  .wrapper {
    height: 90px;
  }

  .logo {
    width: 150px;
  }
}

@media (max-width: 1023.98px) {
  .wrapper {
    height: 70px;
  }

  .logo {
    width: 140px;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    height: 60px;
  }

  .logo {
    width: 120px;
  }
}