.formBox {
  position: relative;
  margin: 80px auto 0 auto;
}

.leftBox {
  padding-right: 50px;
  margin-top: 15px;
}

.infoBox {
  margin-top: 80px;
}

.descriptionBox {
  margin-top: 40px;
}

.form {
  position: relative;
}

.inputField {
  margin: 15px 0;
}

.formBottom {
  margin-top: 50px;
}

.tcText {
  font-size: 16px;
  color: var(--colorSecondary);
  text-align: right;
}

.tcText a {
  color: var(--colorPrimary);
}

@media (hover: hover) {
  .tcText a:hover {
    text-decoration: underline;
  }
}
