.formBox {
  position: relative;
  margin: 100px auto 0 auto;
}

.infoBox {
  padding-right: 50px;
  margin-top: 15px;
}

.closeBtn {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 80px;
}

.closeBtnBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--colorDark);
  transition:
    transform 0.3s,
    background-color 0.3s,
    filter 0.3s;
}

@media (hover: hover) {
  .closeBtn:hover .closeBtnBg {
    transform: scale(1.2);
    background-color: var(--colorBrand);
    filter: blur(10px);
  }
}

.closeIcon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  pointer-events: none;
  transition: transform 0.3s;
}

@media (hover: hover) {
  .closeBtn:hover .closeIcon {
    transform: scale(1.1);
  }
}

.closeIconPath {
  fill: var(--colorPrimary);
  transition: fill 0.3s;
}

@media (hover: hover) {
  .closeBtn:hover .closeIconPath {
    fill: var(--colorDark);
  }
}

.descriptionBox {
  margin-top: 50px;
}

.form {
  position: relative;
}

.inputField {
  margin: 15px 0;
}

.formBottom {
  margin-top: 50px;
}

.tcText {
  font-size: 14px;
  color: var(--colorSecondary);
}

.tcText a {
  color: var(--colorPrimary);
}

@media (hover: hover) {
  .tcText a:hover {
    text-decoration: underline;
  }
}
