.footer {
  position: relative;
}

.top {
  padding: 30px 0;
  border-top: 1px solid var(--colorLine);
  display: flex;
  flex-wrap: wrap;
  gap: 20px 160px;
}

.topItem {
  position: relative;
}

.topItemLabel {
  font-size: 16px;
  color: var(--colorSecondary);
  margin: 3px 0;
}

.topItemValue {
  display: block;
  font-size: 18px;
  color: var(--colorPrimary);
  margin: 3px 0;
  padding: 5px 10px 5px 0;
}

.middle {
  padding-top: 50px;
  border-top: 1px solid var(--colorLine);
}

.logo {
  height: 40px;
}

.links {
  position: relative;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.links:before {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  background-color: var(--colorPrimary);
  margin-right: 30px;
  opacity: 0.3;
}

.link {
  position: relative;
  color: var(--colorSecondary);
  padding: 5px 0;
  font-size: 16px;
  margin-right: 50px;
  transition: color 0.3s;
}

.link:last-child {
  margin-right: 0;
}

@media (hover: hover) {
  .link:hover {
    color: var(--colorPrimary);
  }
}

.link:before {
  position: absolute;
  right: -26px;
  top: 3px;
  bottom: 0;
  margin: auto;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  content: '';
  display: block;
  background-color: var(--colorSecondary);
}

.link:last-child:before {
  display: none;
}

.copyright {
  max-width: 600px;
  margin: 0 auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyrightTitle {
  color: var(--colorSecondary);
  text-align: center;
  font-size: 16px;
}
