.cursorWrap {
  position: fixed;
  width: 1px;
  height: 1px;
  mix-blend-mode: difference;
  z-index: 9998;
  pointer-events: none;
}

.cursorWrap.default {
  z-index: 999999;
}

.cursorWrap.default,
.cursorWrap.medium,
.cursorWrap.button,
.cursorWrap.largeText,
.cursorWrap.smallText {
  mix-blend-mode: difference;
}

.cursorWrap.drag {
  mix-blend-mode: normal;
}

.cursor {
  position: absolute;
  margin-left: -11px;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  background-color: var(--colorBrand);
  border-radius: 50%;
  transition: all 0.3s;
}

.cursorWrap.default .cursor,
.cursorWrap.button .cursor,
.cursorWrap.drag .cursor,
.cursorWrap.smallText .cursor {
  filter: blur(2px);
}

.cursorWrap.medium .cursor {
  filter: blur(1px);
}

.cursorWrap.button .cursor {
  background-color: transparent;
}

.cursorWrap.largeText .cursor {
  filter: blur(4px);
}

.additionalText {
  color: var(--colorDark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.dragIcon {
  position: absolute;
  top: -6px;
  left: -26px;
  margin: auto;
  width: 52px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dragIcon .dragArrow {
  height: 12px;
}

.dragCircle {
  width: 12px;
  height: 12px;
}

@media (max-width: 1679.98px) {
  .cursor {
    margin-left: -9px;
    margin-top: -9px;
    width: 18px;
    height: 18px;
  }
}