.cursorWrap {
  position: fixed;
  width: 1px;
  height: 1px;
  mix-blend-mode: difference;
  z-index: 9998;
  pointer-events: none;
}

.cursorWrap.small,
.cursorWrap.medium,
.cursorWrap.large {
  mix-blend-mode: difference;
}

.cursorWrap.smallText,
.cursorWrap.mediumText,
.cursorWrap.largeText {
  mix-blend-mode: inherit;
}

.cursor {
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  background-color: #c5fcfc;
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.3s;
}

.cursorWrap.small .cursor,
.cursorWrap.medium .cursor,
.cursorWrap.smallText .cursor,
.cursorWrap.mediumText .cursor {
  filter: blur(2px);
}

.cursorWrap.large .cursor,
.cursorWrap.largeText .cursor {
  filter: blur(3px);
}

.additionalText {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.cursorWrap.smallText .additionalText {
  font-size: 12px;
}

.cursorWrap.mediumText .additionalText {
  font-size: 16px;
}

.cursorWrap.largeText .additionalText {
  font-size: 20px;
}
