.teamSection {
  position: relative;
  margin: 0 0 0 0;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slider {
  margin-top: 120px;
}

.slideSpace {
  width: 50px;
  min-width: 50px;
}

.slide {
  padding: 0 30px;
}

.slideItem {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--primaryBorderRadius);
}

.slideImgBox {
  width: 500px;
  min-width: 500px;
  height: 500px;
}

.slideImgBox img {
  border-radius: var(--primaryBorderRadius);
  object-fit: cover;
  object-position: center 16%;
  pointer-events: none;
}

.slideInfo {
  padding: 32px 20px 0 20px;
}

.slideName {
  font-size: 22px;
  color: var(--colorPrimary);
  font-family: var(--fontUppercase);
}

.slidePosition {
  font-size: 18px;
  color: var(--colorSecondary);
  margin-top: 8px;
}

@media (max-width: 1919.98px) {
  .slideSpace {
    width: 60px;
    min-width: 60px;
  }
}

@media (max-width: 1679.98px) {
  .slider {
    margin-top: 100px;
  }
  
  .slideSpace {
    width: 40px;
    min-width: 40px;
  }
  
  .slide {
    padding: 0 20px;
  }
  
  .slideImgBox {
    width: 440px;
    min-width: 440px;
    height: 440px;
  }
  
  .slideInfo {
    padding: 28px 18px 0 18px;
  }
  
  .slideName {
    font-size: 20px;
  }
  
  .slidePosition {
    font-size: 16px;
  }
}

@media (max-width: 1439.98px) {
  .slider {
    margin-top: 80px;
  }
  
  .slide {
    padding: 0 15px;
  }
  
  .slideImgBox {
    width: 420px;
    min-width: 420px;
    height: 420px;
  }
}